<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>ZCC Sunday School</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'attendanceStyle.css' %}">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
  </head>
    <body>
      
      <div id="print">
      <div style="color: green;position: fixed;background-color: white;height: 15%; width: 100%;top: 0;">
        <h3 >Leaners Attendance Register: {{ date }}</h3>
        <h5 >Present Total: {{ present }}</h5>
        <h5 >Absent Total: {{ absent }}</h5>
        <button class="button_cls" id="download" style="width:12%;margin-left: 86%; top:70%;position: absolute;background-color: green; color: white;">Download As PDF</button>
        <a href="javascript:history.go(-1)" style="position: absolute;top: 0;right: 10px;color: #fe0606;font-size: 30px;text-decoration: none;">&times;</a>
      </div>
      
      <br>
      <br>
        <table id="customers" >
            <tr id="myHeader">
                <th></th>
                <th>Name</th>
                <th>Gander</th>
                <th>Id Number</th>
                <th>Role</th>
                <th>Branch</th>
                <th>Attendance Status</th>
                <th>Date</th>
            </tr>
            <tbody id="table">
            {% for attendance_member in attendance_members%}
              <tr>
                <td>{{ forloop.counter }} </td>
                <td>{{ attendance_member.member.full_name }}</td>
                <td>{{ attendance_member.member.gender }}</td>
                <td>{{ attendance_member.member.id_number }}</td>
                <td>{{ attendance_member.role }}</td>
                <td>{{ attendance_member.role }}</td>
                <td>{% if attendance_member.attendance == "Present" %}
                      <h4 style="color:green">{{attendance_member.attendance}}</h4>
                    {% else %}
                      <h4 style="color:red">{{attendance_member.attendance}}</h4>
                    {% endif %}</td>
                <td>{{date}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
        <script>

          document.querySelector('#download').onclick = function(){
            var element = document.querySelector('#print');
            html2pdf().from(element).save();
          }


          setTimeout(function(){
            if ($('#msg').length > 0) {
              $('#msg').remove();
            }
          }, 3500)
      </script>
  </body>
</html>
    
    
    