<!DOCTYPE html>
<html>
  {% load static %}
  <head>
      <title>ZCC Sunday School</title>
      <link rel="stylesheet" href="{% static 'deleteStyle.css' %}">  
  </head>
    <body>
      <div id="id01" class="modal">
        <a href="{% url 'ViewAllTeachers' %}"><span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span></a>
        <form class="modal-content" action="" method="POST">
          {% csrf_token %}
          <div class="container">
            <h1 style="color: green;">Delete Teacher</h1>
            <p>Are you sure you want to delete a Teacher?</p>
            <div class="clearfix">
              <a href="{% url 'ViewAllTeachers' %}"><button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button></a>
              <button type="submit" class="deletebtn">Delete</button>
            </div>
          </div>
        </form>
      </div>
  </body>
</html>
