<!DOCTYPE html>
<html>
  {% load static %}
  <head>
      <title>ZCC Sunday School</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{% static 'viewAllStyle.css' %}">  
      <link rel="stylesheet" href="{% static 'homeStyle.css' %}"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
    <body>
      {% if messages %}
      {% for message in messages %}
          <div style="text-align: center;" class="alert {{ message.tags }} m-2" id="msg" role="alert">
              <Strong>{{ message }}</Strong>
          </div>
      {% endfor %}
      {% endif %}

      {% if logged_in_user == "superuser" %}
      <div id="navbar">
        <a href="{% url 'home' %}" class="active">Home</a>
        <a href="{% url 'ViewAllBranches' %}">Branches</a>
        <a href="{% url 'ViewAllUsers' %}">Add User</a>
        <a href="{% url 'Logout' %}" style="position: absolute;top: 0px;right: 16px;">Sign Out</a>
      </div>
    {% elif logged_in_user == "admin" %}
      <div id="navbar">
        <a href="{% url 'home' %}" >Home</a>
        <a href="{% url 'ViewAllStudents' %}">Learners</a>
        <a href="{% url 'ViewAllTeachers' %}">Teachers</a>
        <a href="{% url 'ViewAllCommitteeMembers' %}">Committee</a>
        <a href="{% url 'ViewAllLCDC_Management' %}" class="active">LCDC_Management</a>
        <a href="{% url 'AttendanceList' %}">Attendance</a>
        <a href="{% url 'MonitoringTool' %}" >Monitoring Tool</a>
        <a href="{% url 'ViewAllUsers' %}">Add User</a>
        <a href="{% url 'Logout' %}" style="position: absolute;top: 0px;right: 16px;">Sign Out</a>
      </div>
    {%else%}
      <div id="navbar">
        <a href="{% url 'home' %}" class="active">Home</a>
        <a href="{% url 'ViewAllStudents' %}">Learners</a>
        <a href="{% url 'ViewAllTeachers' %}">Teachers</a>
        <a href="{% url 'ViewAllCommitteeMembers' %}">Committee</a>
        <a href="{% url 'ViewAllLCDC_Management' %}" class="active">LCDC_Management</a>
        <a href="{% url 'AttendanceList' %}">Attendance</a>
        <a href="{% url 'Logout' %}" style="position: absolute;top: 0px;right: 16px;">Sign Out</a>
      </div>
    {%endif%}
  
        {% csrf_token %}
      <div >
        <input id="search" class="search" type="text" placeholder="Search here" >
        <a href="{% url 'AddLCDC_ManagementForm' %}"><button style="width:12%;margin-left: 86%; top:15%;position: absolute;"><span>&#9783;</span> Add New</button></a>   
        <p></p>
        <h2 style="width:35%;margin-left: 1%; top:16%;position: absolute;">LCDC Management Names:{{ LCDC_Management_count }}</h2>
      </div>
        <table id="customers" >
            <tr id="myHeader">
                <th></th>
                <th>Name</th>
                <th>Gander</th>
                <th>Id Number</th>
                <th>Place</th>
                <th>Action</th>
            </tr>
            <tbody id="table">
              {% for LCDC in LCDC_Management%}
              <tr><td>{{ forloop.counter }}</td>
                  <td>{{ LCDC.member.full_name }}</td>
                  <td>{{ LCDC.member.gender }}</td>
                  <td>{{ LCDC.member.id_number }}</td>
                  <td>{{ LCDC.member.place }}</td>
                  <td><a href="deleteLCDC_Management/{{ LCDC.id }}"><button style="width: 40%;">Delete</button></a>
                      <a href="updateLCDC_Management/{{ LCDC.id }}"><button style="width: 40%;">Update</button></a>
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <script>
          $(document).ready(function () {
              $("#search").on("keyup", function () {
                  var value = $(this).val().toLowerCase();
                  $("#table tr").filter(function () {
                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                  });
              });
          });

          setTimeout(function(){
            if ($('#msg').length > 0) {
              $('#msg').remove();
            }
          }, 3000)
      </script>
    </body>
  </html>


